<p style="color: green"><%= notice %></p>

<%= render @post %>

<div>
  <%= link_to "Editar livro", edit_post_path(@post) %> |
  <%= link_to "Voltar para livros", posts_path %>

  <%= button_to "Apague o livro", @post, method: :delete %>
</div>
